<form  [formGroup]="form" (ngSubmit)="create()" >
  <h1>Registrar un nuevo Gasto </h1>
  <mat-form-field appearance="fill" class="ancho">
    <mat-label>Amount</mat-label>
    <input matInput placeholder="Amount" autocomplete="off" type="number" formControlName="amount" >
  </mat-form-field>

  <mat-form-field appearance="fill" class="ancho" >
    <mat-label>Detail</mat-label>
    <input matInput placeholder="Detail" autocomplete="off" type="text"  formControlName="detail">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" class="boton" type="submit">Ingresar</button>

</form>
